@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    line-height: 1.6;
    min-height: 100%;
    background-color: var(--white);
}

:root {
    --default-padding: 15px;
    --white: #fefefe;
    --light: #F9F9F9;
    --orange: #EF7C4C;
}

header h1 {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    height: 10%;
    background-color: var(--orange);
    margin: 0px !important;
    padding: var(--default-padding);
}

h5 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 2rem;
}

main {
    display: flex;
    height: 88%;
    justify-content: space-between;
}

aside {
    background-color: var(--light);
    box-sizing: border-box;
    height: 100%;
    padding: var(--default-padding);
    min-width: 20%;
    overflow:auto;
}

#conteudo {
    box-sizing: border-box;
    height: 100%;
    min-width: 80%;
    max-width: 80%;
    overflow: auto;
    padding: var(--default-padding);
    text-align: justify;
}

#listaResultados li {
    list-style: none;
}

#listaResultados h5 {
    margin-bottom: 0px !important;
}

#pesquisaInput {
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    height: 38px;
    margin-bottom: 10px;
    padding: 6px 10px;
    width: 100%;
}

.erro {
    color: crimson;
}

table.devolutiva {
    border: 1px solid gray;
    margin-bottom: 50px;
    width: 100%;
}

table.devolutiva td {
    padding: 10px;
}

td.campo {
    background-color: var(--light);
    font-weight: bold;
    width: 120px;
}

td.valor {
    white-space: pre-wrap;
}

h5.carregar_mais {
    text-align: center;
}

.loading {
    display: none;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    font-size: 3em;
    height: 100%;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.select2-selection.select2-selection--multiple {
    min-height: 100px;
}

#limparFiltros {
    color: #1EAEDB;
}

#limparFiltrosSection {
    margin-bottom: 1rem;
}

.select2-container {
    margin-bottom: 20px !important;
}