@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    min-height: 100%;
    background-color: var(--white);
}

:root {
    --default-padding: 15px;
    --white: #fefefe;
    --light: #F9F9F9;
    --orange: #EF7C4C;
}

header h1 {
    color: var(--white);
    font-size: 4rem;
    font-weight: 600;
    height: 10%;
    background-color: var(--orange);
    margin-bottom: 0px !important;
    padding: var(--default-padding);
}

.content {
    display: flex;
    height: 88%;
    justify-content: space-between;
}

aside {
    background-color: var(--light);
    height: 100%;
    padding: var(--default-padding);
    min-width: 30%;
    overflow:auto;
}

#resultados {
    height: 100%;
    max-width: 70%;
    overflow: auto;
    padding: var(--default-padding);
    text-align: justify;
}

#listaResultados li {
    list-style: none;
}

#listaResultados h5 {
    margin-bottom: 0px !important;
}

.resposta {
    white-space: pre-wrap;
}

#pesquisaInput {
    width: 100%;
}

#pesquisaForm {
    margin-bottom: 0px !important;
}

#pesquisaSubprefeituraForm input, #pesquisaSubprefeituraForm label {
    display: inline-block;
}

#pesquisaSubprefeituraForm li {
    list-style: none;
    margin-bottom: 0.2px !important;
}

#pesquisaSubprefeituraForm input, #pesquisaSubprefeituraForm label {
    margin-bottom: 0.2px !important;
}